body{
    margin:0px;
    background-color:#f6d813;
    background-color: #4fbb7c;
  
 }

 .cr {
     padding:40px;
     width:70%;
   
 }
 #nav{
    background-color:#198754;
    height:50px;
    box-shadow:1px 1px 5px black;
    text-align: center;
    
    
 }

 .card{
     border-radius: 10px;
     border:1px solid white;
     padding: 30px;
    }
 p{
     font-size: 18px;
     
 }

 ul li {
     font-size: 20px;
 }
  
 .src{
     margin-left: 40%;
     width:25%;
     
 }
   
 .card1{
    position: relative;
    width:auto;
    height:auto;
    margin:0px;
    box-shadow:10px 10px 10px rgba(0,0,0,0.5);
    border-radius: 15px;
    background:#4fbb7c;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: left;
    border-top:1px soid rgba(255,255,255,0.5);
    border-left:1px soid rgba(255,255,255,0.5);
    backdrop-filter: blur(2px);
    color:black;

}

.card1 #op {
    opacity: 0;
   
   
}

th{
    font-size: 30px;
    border:1px solid white;
    color: white;
    padding: 12px;
    background-color:#4fbb7c ;
    text-align: center;
}

 
table,td{
    border:1px solid white;
    color: white;
    padding: 25px;
    width: auto;
    background-color: #4fbb7c;
    font-size: large;
    
}

code{
    color: white;
}
.share{
    display:flex;
}
#links{
    background-color: #198754;
    height:160px;
    margin-top: 60px;
    border-radius: 10px;
    margin-left: 25px;
    position:fixed;
    z-index: 1;
    box-shadow: 1px 1px 5px black;
    
    
    
}
#links ul li {
    list-style: none;
    margin-left: -34px;
    padding:5px;
    color:white;
}
#links ul li:hover{
   color:black;
   transition: 0.5s;

}

 @media(max-width:1000px)
 {
    .cr{
        width:1000px;
        padding-left:20px;
        padding-right: 20px;
    }
    p{
        font-size: 35px;
    }
    ul li{
        font-size: 35px;
    }
    #nav{
        height:70px;
        width:1000px;
    }
    #nav h4{
        font-size: 40px;
    }
    
    h1{
        font-size: 60px;
    }
    .src{
        width:40%;
        margin-left: 33%;
    }
    .card1 {
        width:850px;
    }
    .card1 .content .contentBx code {
        font-size: 20px;
    }
    code{
        font-size: 25px;
    }
    .links{
        height:250px;
        width:60px;
        margin-left: 900px;
    }

 }